# Database configs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=astra_quant

# Redis cache
REDIS_URL=redis://redis:6379/0

# Services
JWT_SECRET=astra-quant-secret-key-institutional-grade-secure-key-2026
JWT_REFRESH_SECRET=astra-quant-refresh-secret-key-institutional-grade-secure-key-2026
DATABASE_URL=postgresql://postgres:postgres@db:5432/astra_quant?schema=public
